/* General styles */
section{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
body{
	font-size: 1rem;
}
p{
	margin: 0;
}
.navbar{
	font-family: 'Shadows Into Light', cursive;
	font-size: 1.5rem;
}
.titulos{
	font-size: 2rem;
	font-family: 'Boogaloo', cursive;
}
.textos{
	font-size: 1.5rem;
	font-weight:600;
	letter-spacing: 1.5px;
	font-family: 'Shadows Into Light', cursive;
}

/* section Hero */
.hero{	
	min-height: 450px;
	text-align: center;
}
.hero-principal h1{
	font-size: 2.5rem;
	font-family: 'Boogaloo', cursive;
	/* font-family: 'Alkatra', cursive; */
	/* font-family: 'Righteous', cursive; */	
}
.hero-principal  h2{
	font-size: 2rem;
	color: #615151;
	font-family: 'Shadows Into Light', cursive;
}

.img-profile{
	max-width: 150px;
}

/* seccion sobre mi */
.seccion-oscura{
	background-color: #1b1b32;
	color: white;
}
.sobre-mi{
	height: 500px;
	padding: 10px;
}
.sobre-mi .contenedor{
	max-width: 600px;
	text-align: center;
}

/* experiencia */
.experiencia .columna{
	padding: 20px;
	border: 2px solid #8080804d;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	transition: all 0.2s ease-in;
	/* height: 800px; */
}
.experiencia .columna:hover {
	color: white;
	background-color: #1b1b32;
}
.experiencia{
	padding: 40px;
}

.experiencia i{
	font-size: 2.5rem;
}
.badges-contenedor{
	font-size: 1.5rem;
	/* margin: 12px 0; */
}
.badge{
	margin: 8px;
}

a.platzi{
	background-color: #98CA3F;
	/* border: none; */
	border: 1px solid white;
	font-weight: bold;
}
a.freeCodeCamp{
	background-color: #0A0A23;
	border: 1px solid white;
	font-weight: bold;
}
.carousel-contenedor img{
	height: 100px;
}
.ex-encabezado{
	/* border: 1px red solid; */
}
.ex-cuerpo{
	/* border: 1px blue solid; */
}
.ex-footer{
	/* border: 1px green solid; */
}
div.ex-footer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100px;
}
div.ex-cuerpo{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 20px 0;
}


/* @media */
@media screen and (min-width: 700px){
	.hero-inferior-img{
		max-width: 600px;
	}
}