/* General styles */
google-fonts{
font-family: 'Alkatra', cursive;
font-family: 'Boogaloo', cursive;
font-family: 'Righteous', cursive;
font-family: 'Shadows Into Light', cursive;
font-family: 'Ubuntu Mono', monospace;
}

section{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
body{
	font-size: 1rem;
}
p{
	margin: 0;
}
.navbar{
	font-family: 'Shadows Into Light', cursive;
	font-size: 1.5rem;
}
.titulos{
	font-size: 2rem;
	font-family: 'Boogaloo', cursive;
}
.textos{
	font-size: 1.5rem;
	font-weight:600;
	letter-spacing: 1.5px;
	font-family: 'Shadows Into Light', cursive;
}

/* section Hero */
.hero{	
	min-height: 450px;
	text-align: center;
}
.hero-principal h1{
	font-size: 2.5rem;
	font-family: 'Boogaloo', cursive;
	/* font-family: 'Alkatra', cursive; */
	/* font-family: 'Righteous', cursive; */	
}
.hero-principal  h2{
	font-size: 2rem;
	color: #615151;
	font-family: 'Shadows Into Light', cursive;
}

.img-profile{
	max-width: 150px;
}

/* seccion sobre mi */
.seccion-oscura{
	background-color: #1b1b32;
	color: white;
}
.sobre-mi{
	min-height: 500px;
	padding: 10px;
}
.sobre-mi .contenedor{
	max-width: 600px;
	text-align: center;
}

/* experiencia */
.experiencia .columna{
	padding: 20px;
	border: 2px solid #8080804d;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	transition: all 0.2s ease-in;
	/* height: 800px; */
}
.experiencia .columna:hover {
	color: white;
	background-color: #1b1b32;
}
.experiencia{
	padding: 40px;
}

.experiencia i{
	font-size: 2.5rem;
}
.badges-contenedor{
	font-size: 1.5rem;
	/* margin: 12px 0; */
}
.badge{
	margin: 8px;
}

a.platzi{
	background-color: #98CA3F;
	/* border: none; */
	border: 1px solid #98CA3F;
	font-weight: bold;
	color: black;
}
a.platzi:hover{
	background-color: transparent;
	color: #98CA3F;
	border: 1px solid #98CA3F;
}
a.freeCodeCamp{
	background-color: #0A0A23;
	border: 1px solid white;
	font-weight: bold;
}
a.freeCodeCamp:hover{
	background-color: white;
	color: #0A0A23;
	border: 1px solid #0A0A23;

}
.ex-encabezado{
	/* border: 1px red solid; */
}
.ex-cuerpo{
	/* border: 1px blue solid; */
}
.ex-footer{
	/* border: 1px green solid; */
}
div.ex-cuerpo{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 20px 0;
}
div.ex-footer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100px;
}

div.t-galery{
	/* border: 1px red  solid; */
	display: flex;
	width: 250px;
	height: 100px;
}
div.t-galery img{
	width: 0px;
	flex-grow: 1;
	object-fit: cover;
	opacity: .8;
	transition: .25s ease;
}
div.t-galery img:hover{
	cursor: crosshair;
	width: 100px; 
	opacity: 1;
	filter: contrast(120%);
	overflow: visible;
}

/* Proyectos */
.proyectos-recientes{
	padding: 40px;
	min-height: 600px;
}
.proyectos-recientes img{
	height: 100%;
	width: 100%;
	padding: 10px;
	border-radius: 20px;
	display: block;
	transition: all 0.2s ease;
}
.proyecto-contenedor{
	padding-top: 60px;
	margin-bottom: 40px;
}
.overlay{
	transition: all 0.2s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
.overlay p{
	font-size: 25px;
}
.proyecto{
	position: relative;
}
.proyecto:hover img{
	opacity: 0.2;
}
.proyecto:hover .overlay{
	opacity: 1;
}
.overlay .iconos-proyecto{
	display: flex;
}
.overlay i{
	font-size: 2.5rem;
	color: #0A0A23;
	margin: 10px;
}
.btn-info{
	font-size: 1.5rem;
	
}


/* Artículos */
.articulos{
	min-height: 600px;
	padding: 30px;
}
.articulos .card{
	width: 80%;
	max-width: 600px;
	margin: 25px 0;
}

/* Testimonios */
.testimonios{
	padding: 40px 40px 80px 40px;
	min-height: 600px;
	/* border: 1px red solid; */
}
.testimonios .carousel{
	max-width: 800px;
}
.carousel-item{
	height: 400px;
	/* border: 1px yellowgreen solid */
}
.carousel-item .container{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.img-testimonials{
	height: 120px;
	border-radius: 20%;
	margin: 20px;
}
.container .testimonios-texto{
	max-width: 80%;
	font-family: 'Ubuntu Mono', monospace;
	font-size: 1.1rem;
	text-align: center;
}
.testimonio-info .textos{
	font-family: 'Ubuntu Mono', monospace;
	font-size: 0.9rem;
	color: #656060;
	text-align: center;
}
.testimonio-info{
	/* border: 1px red solid; */
	margin-top: 12px;
}

/* @media */
@media screen and (min-width: 700px){
	.hero-inferior-img{
		max-width: 600px;
	}
}